body {
  margin: 0;
  padding: 0;
  background-color: #d0b9c1;
  font-family: sans-serif;
}

header {
  text-align: center;
  margin-top: 20px;
}

.text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 60px;
  color: #333;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.calculator {
  width: 500px;
  height: 500px;
  background-color: #df8caa;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.operations {
  display: flex;
  justify-content: space-between;
}

.operations button {
  flex: 1;
  height: 70px;
  margin: 5px;
  margin-bottom: 1px;
  font-size: 24px;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  flex-grow: 2;
  margin-top: 20px;
}

.buttons button {
  font-size: 24px;
  padding: 20px;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 5px;
}
#equal {
  grid-row: 1 / span 4;
  grid-column: 4;
  background-color: #e0e0e0;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-top: 78px;
}
#backspace {
  grid-row: 1 / span 1;
  grid-column: 4;
  background-color: #e0e0e0;
  color: rgb(45, 40, 40);
  font-weight: bold;
}
.display {
  height: 60px;
  background-color: #df8caa;
  color: #333;
  font-size: 32px;
  text-align: right;
  padding: 10px 20px;
  border: 5px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
